<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=“utf-8”>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=La+Belle+Aurore">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Scope+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=League+Script">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/default.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/{{ page.style }}">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <div class="head">
      <div class="flags">
      <a href="#"><img src="{{ site.baseurl }}/img/swissflag.jpg"class="flag"></a>
      <a href="#"><img src="{{ site.baseurl }}/img/ruflag.jpg" class="flag"></a>
      <a href="#"><img src="{{ site.baseurl }}/img/ukflag.jpg" class="flag"></a>
      <a href="#"><img src="{{ site.baseurl }}/img/polflag.jpg" class="flag"></a>
    </div>
      <div class="grid">
      <img src="{{ site.baseurl }}/img/TSsignatures.jpg" class="logo">
      </div>
    </div>
      <div class="text">
        <a href="tel:+41798562939">Call to book your appointment now</a> or
        <a href="mailto:tatsiana.silliuk@gmail.com">contact by email</a> or via social
        <div class="social">
          <a href="https://wa.me/41798562939" target="_blank" class="fa fa-whatsapp"></a>
          <a href="https://www.instagram.com/tatsiana.siliuk" target="_blank" class="fa fa-instagram"></a>
          <a href="https://www.facebook.com/tatsiana.siliuk.9" target="_blank" class="fa fa-facebook"></a>
        </div>
      </div>
    </header>
    <nav class="mainNav">
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/about">About</a></li>
        <li><a href="{{ site.baseurl }}/services">Services</a></li>
        <li><a href="{{ site.baseurl }}/gallery">Gallery</a></li>
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
      </ul>
    </nav>
    <main>
      {{ content }}
    </main>
    <div class="footer">
      <footer class="mainFooter">
        <p><span>&copy;</span> 2021 Tatsiana Siliuk Hairstylist</p>
        <div class="devFooter">
          <div class="fsocial">
          <a href="https://wa.me/41798562939" target="_blank" class="fa fa-whatsapp"></a>
          <a href="https://www.instagram.com/tatsiana.siliuk" target="_blank" class="fa fa-instagram"></a>
          <a href="https://www.facebook.com/tatsiana.siliuk.9" target="_blank" class="fa fa-facebook"></a>
          </div>
          <p class="developer"><span>&copy;</span>Lesh_Cova</p>
        </div>
      </footer>
    </div>
  </body>
</html>
