<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset=“utf-8”>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Готовы к переменам? Tatsiana Siliuk - русскоговорящий парикмахер-стилист в Цюрихе.
    Профессиональные укладки, стрижки, окрашивание волос любой сложности и другие услуги!">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rouge+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=La+Belle+Aurore">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Scope+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=League+Script">
    <link rel="stylesheet" href="https://allfont.net/allfont.css?fonts=calligraphia-one">
    <link rel="stylesheet" href="https://allfont.net/allfont.css?fonts=proun">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap">
    <link rel="stylesheet" href="https://allfont.net/allfont.css?fonts=decor-cyrillic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/ru.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/{{ page.style }}">
    <title>{{ page.title }}</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WX8MN7WXFV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WX8MN7WXFV');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-188194601-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-188194601-1');
</script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="head">
        <img src="{{ site.baseurl }}/img/TSsignatures.jpg" class="logo">
        <div class="flags">
        <!--<a href="#"><img src="{{ site.baseurl }}/img/swissflag.jpg"class="flag"></a>-->
        <a href="{{ site.baseurl }}/ru"><img src="{{ site.baseurl }}/img/ruflag.jpg" class="flag"></a>
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/ukflag.jpg" class="flag"></a>
        <!--<a href="#"><img src="{{ site.baseurl }}/img/polflag.jpg" class="flag"></a>-->
        </div>
        </div>
        <div class="text">
          Забронируйте свой визит сейчас<br>
          <a href="tel:+41798562939">по телефону</a>,
          <a href="mailto:info@tatsiana.ch">через электронную почту</a> или приложение
          <div class="social">
            <a href="https://wa.me/41798562939" target="_blank" class="fa fa-whatsapp"></a>
            <a href="https://www.instagram.com/tatsiana.siliuk" target="_blank" class="fa fa-instagram"></a>
            <a href="https://www.facebook.com/tatsiana.siliuk.9" target="_blank" class="fa fa-facebook"></a>
          </div>
        </div>
      </header>
      <nav class="mainNav">
        <ul>
          <li><a href="{{ site.baseurl }}/ru">Главная</a></li>
          <li><a href="{{ site.baseurl }}/about-ru">О Мастере</a></li>
          <li><a href="{{ site.baseurl }}/services-ru">Услуги и Цены</a></li>
          <li><a href="{{ site.baseurl }}/gallery-ru">Галерея</a></li>
          <li><a href="{{ site.baseurl }}/contact-ru">Контакты</a></li>
        </ul>
      </nav>
      <main>
        {{ content }}
      </main>
    </div>
    <div class="footer">
      <footer class="mainFooter">
        <p><span>&copy;</span> 2021 Tatsiana Siliuk Hairstylist</p>
          <div class="fsocial">
          <a href="https://wa.me/41798562939" target="_blank" class="fa fa-whatsapp"></a>
          <a href="https://www.instagram.com/tatsiana.siliuk" target="_blank" class="fa fa-instagram"></a>
          <a href="https://www.facebook.com/tatsiana.siliuk.9" target="_blank" class="fa fa-facebook"></a>
          </div>
          <p class="developer"><span>&copy;</span>Lesh_Cova</p>
        </div>
      </footer>
  </body>
</html>
