.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 2px;
}

.aboutText {
  margin: 0;
  text-align: justify;
  font-size: 18px;
  font-family: "Poiret One", cursive;
  font-variant: small-caps;
}

.signature {
  font-size: 20px;
  font-family: "DrCarbfred", serif;
  font-variant: small-caps;
  text-align: right;
}

.aboutImage {
  float: left;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

span {
  font-size: 18px;
  font-family: "Scope One", serif;
  font-variant: small-caps;
}

@media only screen and (max-width: 600px) {
  .aboutImage {
    float: none;
    display: block;
    margin: 0 auto 10px;
  }
}
