@font-face {
  font-family: "DrCarbfred";
  src: url("/fonts/DrCarbfred.ttf");
}

@font-face {
  font-family: "NovatnyBold";
  src: url("/fonts/NovatnyBold.woff2") format("woff2");
}

body {
  background-image: none;
  background-color:  white;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 16px 0 0;
}

header,
nav,
main,
footer {
  max-width: 800px;
  min-width: 320px;
  margin: 0 auto;
}

header {
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: arial;
  padding-bottom: 5px;
  flex-wrap: wrap;
}

main {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
}

a {
  color: #808080;
  text-decoration: none;
}

a:hover {
  color: black;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  padding: 0 10px;
  margin: 0;
  text-align: center;
  font-size: 19px;
  color: black;
  font-family: "NovatnyBold", serif;
  font-variant: small-caps;
}

nav ul li {
  display: inline-block;
  padding: 5px 10px;
  min-width: 120px;
}

nav ul li:hover {
  background-color: transparent;
  border-style: none;
}

nav ul li a {
  color: black;
}

nav ul li:hover a {
  color: #808080;
}

footer p {
  color: white;
  font-family: "NovatnyBold", serif;
  font-variant: small-caps;
  font-size: 12px;
}

footer span {
  font-family: "IM Fell French Canon SC", serif;
}

footer {
  text-align: center;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  border-radius: 100%;
  background: transparent;
  color: black;
}

.fa:hover {
  opacity: 0.7;
}

.logo {
  display: inline-block;
  height: 99px;
  width: 300px;
}

.text {
  display: block;
  font-family: "Rouge Script", cursive;
  text-align: center;
  font-size: 35px;
  color: black;
  min-width: 300px;
  margin: 0;
}

.footer {
  padding: 20px 0;
  background-color: black;
}

.fsocial .fa {
  color: white;
  padding-top: 0;
}
