body {
  background-image: none;
  background-color:  white;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}

h3 {
  font-size: 22px;
  text-align: center;
  background-color: transparent;
  text-decoration: none;
  font-weight: normal;
  font-family: helvetica;
  margin:20px;
}

nav {
  font-size: 22px;
  text-align: center;
  color: black;
  font-weight: normal;
  font-family: helvetica;
}

a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #D3D6CF;
  background-color: transparent;
  text-decoration: none;
  border-style: none;
}

ul {
  padding: 0px;
}

li {
  display: inline;
  padding: 5px 5px;
}

li:hover{
  background-color: transparent;
  border-style: none;
  opacity: 0.6;
}

footer p {
  text-align: center;
  padding: 3px;
  background-color: transparent;
  color: white;
  font-weight: none;
  font-family: courier;
}

footer {
  text-align: center;
  background-color: black;
  background-size: 100%;
  padding-top: 2px;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: transparent;
  color: white;
}
.fa-whatsapp {
  background: transparent;
  color: white;
}
.fa-facebook {
  background: transparent;
  color: white;
}
.logo{
  width: 30%;
  height: 30%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.images{
  width: 45%;
  height: 45%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
